* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-image: url(images/foodbackground.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.671);
    background-blend-mode: multiply;
}

h1 {
    margin: 30px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}

.navigation {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}

.navigation li {
    padding-left: 50px;
    padding: 10px;
    padding-top: 50px
}

.navigation a {
    text-decoration: none;
    margin-left: 70px;
    font-size: 20px;
    color: white;
}

a:hover {
    background-color: #83d6fc9a;
}